<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Registration System.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6B8A59A1BD9396100669396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6B8A5B31BD9396100669396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6B8A5BE1BD9396100669396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
